{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - MyStore{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>

    {% if notification %}
        <div class="alert alert-info"> {{ notification }} </div>
    {% endif %}

    {{ form(form) }}


    <hr>

    <ul>
        <li> <a href=" {{ path('app_account') }} ">Retouner à mon compte</a> </li>
    </ul>

    <hr>

    
{% endblock %}
